<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Возникла ошибка: {{ status_text }}</title>
    </head>
    <body>
        <h1>Ой! Возникла ошибка</h1>
        <h2>Сервер вернул ответ: "{{ status_code }} {{ status_text }}".</h2>

        <div>
          Что-то сломалось. Пожалуйста, отправьте нам на webmaster@spb.pegast.ru описание Ваших
          действий, вызвавших эту ошибку. Мы исправим ошибку настолько быстро,
          насколько это возможно. Извините за причиненные неудобства.
        </div>
    </body>
</html>
