[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_name=
    database_user=
    database_password=

    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""

    locale="ru"

    secret=

    google_maps_api_key="ABQIAAAA6zdkkrf1O_M1nLgQnpyn-RRSTOoN6KZtHFcNg8gxFhX4HJtrgxTziKD3POVBoG0N2X21kRx9JgGiyA"
