/* common styles */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Tahoma;
  font-size: 12px;
  text-decoration: none;
}

a.orange_button span.tel_code {
  font-size: 80%;
}

a.doc {
  display: block;
  padding-left: 19px;
  background: url('/bundles/websitestatic/images/docicon.gif') no-repeat scroll 0 0 transparent;
}

img {
  border: none;
}

img.m24 {
  margin: 24px;
}

h1 {
  margin-top: 0;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.ml130 {
  margin-left: 130px;
}

.ml20 {
  margin-left: 20px;
}

.clr {
  clear: both;
}

.hidden {
  display: none;
}

/* anchors&divs like big buttons */
a.blue_button,
div.blue_button {
  display: block;
  width: 237px;
  height: 40px;
  margin: 20px auto;
  padding-top: 15px;
  background: url('/bundles/websitestatic/images/p_blue.png') no-repeat scroll 0 0 transparent;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

a.orange_button {
  display: block;
  width: 210px;
  height: 56px;
  margin: 10px auto;
  padding-top: 9px;
  padding-left: 25px;
  background: url('/bundles/websitestatic/images/p_orange.png') no-repeat scroll 0 0 transparent;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

/* credit card icons */
div.blue_button span.paycard {
  display: inline-block;
  position: relative;
  padding: 0 37px 0 43px;
  width: 157px;
}

i.card_mc {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  width: 42px;
  height: 25px;
  background: url('/bundles/websitestatic/images/card_mc.png') no-repeat scroll 0 0 transparent;
}

i.card_visa {
  display: block;
  position: absolute;
  top: 1px;
  right: 6px;
  width: 37px;
  height: 23px;
  background: url('/bundles/websitestatic/images/card_visa.png') no-repeat scroll 0 0 transparent;
}

/* header */
.header {
  padding-top: 5px;
  height: 87px;
}

.header img {
  margin-top: 7px;
}

.header_bg {
  background: url('/bundles/websitestatic/images/header.jpg') right top no-repeat;
}

.header .labels {
  margin-right: -5px;
  color: #000065;
  text-align: right;
  font-size: 12px;
}

.header .labels_data {
  color: #000065;
  font-weight: bold;
}

div.labels div,
div.labels_data div {
  height: 16px;
}

div.labels div.common {
  line-height: 18px;
}

.header .labels_data div.phone_common {
  font-size: 13px;
}

.header div.phone_piter {
  height: 21px;
  font-size: 16px;
}

.header .labels_data a {
  text-decoration: none;
  color: #000065;
  font-weight: bold;
}

.header .labels_data a:hover {
  color: #f00000;
}

.shapka {
  margin: 0 !important;
  width: 1153px !important;
  height: 16px;
  background-color: #f18e54;
}

.shapka_blue {
  margin: 0 !important;
  width: 500px !important;
  height: 21px;
  padding-left: 15px;
  background-color: #53bde4;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.shapka_orange {
  float: left;
  margin: 0 !important;
  width: 130px;
  height: 23px;
  background-color: #f18e53;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
}

/* footer */
div.footer {
  padding: 5px 0;
  color: #ffffff;
}

div.footer span.data {
  font-weight: bold;
}

div.footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

div.footer a:hover {
  color: #f00000;
}

/* corners */
.corner {
  margin: 0 !important;
  width: 16px !important;
  height: 16px;
}

.orange_left {
  height: 16px;
  background: url('/bundles/websitestatic/images/corner_orange_left.png') left top no-repeat;
}

.orange_right {
  height: 16px;
  background: url('/bundles/websitestatic/images/corner_orange_right.png') right top no-repeat;
}

.orange_title_left {
  float: left;
  width: 23px !important;
  height: 23px;
  margin-left: 39px;
  background: url('/bundles/websitestatic/images/corner_orange1_left.png') left top no-repeat;
}

.orange_title_right {
  float: left;
  width: 23px !important;
  height: 23px;
  background: url('/bundles/websitestatic/images/corner_orange1_right.png') right top no-repeat;
}

.blue_left {
  width: 31px !important;
  height: 21px;
  background: url('/bundles/websitestatic/images/corner_blue_left.png') left top no-repeat;
}

.blue_right {
  width: 31px !important;
  height: 21px;
  background: url('/bundles/websitestatic/images/corner_blue_right.png') right top no-repeat;
}

/* background colors */
.white {
  background-color: #ffffff;
}

.blue {
  background-color: #000066;
}

.sky {
  background-color: #53bde4;
}

.green {
  background-color: #019966;
}

/* lines */
.line1px {
  height: 1px;
}

.line3px {
  height: 3px;
}

/* menu */
div.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
}

div.menu ul li {
  background: url("/bundles/websitestatic/images/bullet.png") no-repeat scroll left center transparent;
  border-bottom: 1px solid #FFFFFF;
  margin-top: 5px;
  padding-left: 30px;
  line-height: 30px;
}

div.menu ul li a {
  color: #14268C;
  font-weight: bold;
  text-decoration: none;
}

/* last news under menu */
div.news {
  color: #474864;
  padding: 0 30px 20px;
}

div.news h3 {
  font-size: 16px;
  color: #395384;
  margin-bottom: 0;
}

div.news div.date {
  color: #1c2582;
  padding: 28px 0 0;
}

div.news div.text {
  padding: 11px 0 0;
}

div.news div.text a {
  color: #474864;
  text-decoration: none;
}

div.news div.text a:hover {
  color: #f00000;
  text-decoration: underline;
}

div.news div.list_lnk {
  padding: 28px 0 0;
  text-align: right;
}

div.news div.list_lnk a {
  color: #192a84;
}

div.news div.list_lnk a:visited {
  color: #192a84;
}

p.item_news .date {
  margin: 20px 0 0;
}

p.item_news .brief {
  margin: 10px 0 0;
}

p.item_news a {
  color: #000000;
  text-decoration: none;
}

p.item_news a:hover {
  color: #f00000;
  text-decoration: underline;
}

/* content */
div.content_main {
  width: 577px !important;
  padding-top: 8px;
  padding-left: 8px;
}

div.content {
  width: 575px !important;
  border: 1px solid #53bde4;
  border-top: none;
  border-bottom: none;
  padding-bottom: 10px;
  text-align: center;
}

div.content a {
  float: right;
  margin: 5px 0 0 10px;
  color: #983202;
  font-size: 11px;
  font-weight: bold;
}

div.content a:hover {
  color: #983202;
}

div.content a:visited {
  color: #983202;
}

div.search {
  width: 507px;
  margin: 15px 34px 5px;
}

/*div.orange {
  border: 1px solid #f18e53;
  clear: both;
}*/

/* offices */
div.office {
  text-align: center;
}

div.office img.gerb {
  margin-bottom: 10px;
}

div#map {
  width: 585px;
  height: 550px;
  margin-top: 15px;
}
