#agency_search {
	margin-top: 0;
}

.panel {
	border: none !important;
	background: #ffffff !important;
}

#dp-popup {
    margin-top: -70px !important;
    width: 150px !important;
}

table {
	width: 100%;
}
